node_modules/
**/node_modules/
**/dist/
.next/
out/
**/.turbo/
.env
*.env
**/.env
**/*.env
apps/api/.env
apps/web/.env
**/prisma/dev.db
**/prisma/*.db
**/prisma/*.db-journal
**/prisma/migrations/*/_journal*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
apps/web/public/sw.js
apps/web/public/workbox-*.js
apps/web/public/worker-*.js
apps/web/public/precache-*.js
